@model IEnumerable<Item>

<a asp-action="Create" class="btn btn-success btn-sm">Dodaj nową pozycję</a>
<table class="table" style="background-color:azure">
    <thead>
        <tr>
            <th>Okładka</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Rok produkcji</th>
            <th>Typ nośnika</th>
            <th>Wypożyczony?</th>
            <th>Dostępne akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Cover" height="100" width="100" /></td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.IsRent)</td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a asp-action="Edit" asp-route-id="@item.ItemId" class="btn btn-info" style="margin-bottom:3px">Edycja</a>
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-info" style="margin-bottom:3px">Szczegóły</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



